<body class="bg-gray-300">

  <div class="container z-50 mx-auto mt-20 bg-gray-100" style="width: 80%;">
    <div class="max-w-7xl pb-8 lg:py-8 lg:px-4 xl:max-w-full">
      <div class="flex justify-center mt-6">
          <!-- Sidebar -->
          <%= render "host/dashboard/sidebar" %>
          <!-- Main Content -->
          <div class="w-2/3 p-2">
            <div class="card">
              <div class="card-body">
                <!-- Your sidebar Sections -->
                <div class="bg-gray-100 px-4  border-gray-400 divide-y divide-gray-200 dark:divide-gray-700">
                  <div class="mb-4 flex items-center justify-between flex-wrap sm:flex-nowrap">
                    <div class="ml-4 mt-2">
                      <h3 class="text-lg leading-6 font-medium text-gray-900">Add new properties</h3>
                    </div>
                    <div class="flex-shrink-0">
                      <%# Link to create a new property %>
                      <%= link_to "Create new property", new_host_property_path, class:"relative inline-flex items-center px-4 py-2 border border-gray-250 text-sm font-medium text-black bg-gray-300 hover:bg-gray-500 focus:ring-offset-2 focus:ring-gray-500 shadow-sm" %>
                    </div>
                  </div>
                  <div class="bg-white  shadow overflow-hidden">

                    <ul role="list" class="ml-8 max-w-lg divide-y divide-gray-200 dark:divide-gray-700" style="max-width: 90%;">
                      <% @properties.each do |property| %>
                        <li class="block hover:bg-gray-50">
                          <%# Link to the property details page %>
                          <%= link_to property_path(property) do %>
                            <div class="flex items-center  px-4 py-4">
                              <div class="flex-shrink-0">
                                <%# Display the main image of the property if available %>
                                <% if property && property.main_image.present? %>
                                  <%= image_tag property.main_image, class: "pl-2 w-12 h-12 rounded-full" %>
                                <% end %>
                              </div>
                              <div class="flex-1 min-w-0">
                                <p class="text-sm font-medium text-gray-900 truncate dark:text-white truncate">
                                  <%= property.name %>
                                </p>
                                <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                  <%= property.headline %>
                                </p>
                              </div>
                              <div class="hidden sm:block  mr-12">
                                <div class="sm:flex flex-col items-center text-sm text-gray-500" >
                                  <p class="text-sm text-gray-900">
                                    Created on
                                    <time > <%= property.created_at.strftime("%d/%m/%Y") %> </time>
                                  </p>
                                  <p class="mt-2 flex items-center text-sm text-gray-500">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="green" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" class="w-5 h-5 flex-shrink-0 text-green-400">
                                      <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                                    </svg>

                                    <%= property.reservations.future_reservations.size %> Active Reservations
                                  </p>
                                </div>
                              </div>
                              <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                  <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                                </svg>
                              </div>
                            </div>
                          <% end %>
                        </li>
                      <% end %>
                    </ul>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
