<h4 class="mt-1 text-md text-gray-500">Update your Profile informations</h4>
<hr class="my-4">
<%= form_with model: @profile, local: true, url: profile_path(@profile) do |f| %>

  <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 lg:grid-cols-3">

    <div class="lg:col-span-2 md:col-span-1">
      <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 md:grid-cols-5">

        <div class="flex mb-4 md:col-span-5">
          <div class="w-1/2 mr-2 ">
            <%= f.label :first_name, class: "block text-sm font-medium text-gray-700" %>
            <%= f.text_field :first_name, class: "h-10 border border-gray-300 mt-1 block  rounded px-4 py-2 w-full sm:text-sm focus:outline-none focus:ring-gray-900 focus:border-gray-900" %>
          </div>

          <div class="w-1/2 ml-2">
            <%= f.label :last_name, class: "block text-sm font-medium text-gray-700" %>
            <%= f.text_field :last_name, class: "h-10 border border-gray-300 mt-1 block  rounded px-4 py-2 w-full sm:text-sm focus:outline-none focus:ring-gray-900 focus:border-gray-900" %>
          </div>
        </div>

        <div class="md:col-span-5">
          <%= f.label :address_1, class: "block text-sm font-medium text-gray-700" %>
          <%= f.text_field :address_1, class: "h-10 border border-gray-300 mt-1 block  rounded px-4 py-2 w-full sm:text-sm focus:outline-none focus:ring-gray-900 focus:border-gray-900" %>
        </div>

        <div class="md:col-span-5">
          <%= f.label :address_2, class: "block text-sm font-medium text-gray-700" %>
          <%= f.text_field :address_2, class: "h-10 border border-gray-300 mt-1 block  rounded px-4 py-2 w-full sm:text-sm focus:outline-none focus:ring-gray-900 focus:border-gray-900" %>
        </div>

        <div class="md:col-span-5">
          <%= f.label :city, class: "block text-sm font-medium text-gray-700" %>
          <%= f.text_field :city, class: "h-10 border border-gray-300 mt-1 block  rounded px-4 py-2 w-full sm:text-sm focus:outline-none focus:ring-gray-900 focus:border-gray-900" %>
        </div>

        <div class="flex mb-4 md:col-span-5">
          <div class="w-1/2 mr-2">
            <%= f.label :country_code, class: "block text-sm font-medium text-gray-700" %>
            <div class="relative">
              <%= f.select :country_code, ISO3166::Country.all.map { |country| [country.translations[I18n.locale.to_s], country.alpha2] }, {}, class: "h-10 border border-gray-300 rounded px-4 py-2 w-full sm:text-sm focus:outline-none focus:ring-gray-900 focus:border-gray-900" %>
            </div>
          </div>
          <div class="md:col-span-1 w-1/2 ml-2">
            <%= f.label :zip_code, class: "block text-sm font-medium text-gray-700" %>
            <%= f.text_field :zip_code, class: "h-10 border border-gray-300 mt-1 block rounded px-4 py-2 w-full sm:text-sm focus:outline-none focus:ring-gray-900 focus:border-gray-900" %>
          </div>
        </div>

        <div class="md:col-span-5">
          <%= f.label :picture, class: "block text-sm font-medium text-gray-700" %>
          <%= f.file_field :picture, class: "h-10 border border-gray-300 mt-1 block rounded px-4 py-2 w-full sm:text-sm focus:outline-none focus:ring-gray-900 focus:border-gray-900" %>
        </div>


        <div class="md:col-span-5 text-right">
          <div class="inline-flex items-end">
            <button class="bg-gray-400 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded">Submit</button>
          </div>
        </div>

      </div>
    </div>
  </div>

<% end %>
