<body class="bg-gray-300">

  <%# <p>Country Name: <%= @profile.country_name %>
  <div data-controller="sidebar" <div class="container z-50 mx-auto mt-20 bg-gray-100" style="width: 80%;">
    <div class="max-w-7xl pb-10 lg:py-12 lg:px-8 xl:max-w-full">

      <div class="flex justify-center mt-8">
          <!-- Sidebar -->
          <%= render "sidebar" %>
          <!-- Main Content -->
          <div class="w-2/3 p-4" id="main-content">
            <div class="card">
              <div class="card-body">
                <!-- Your Profile Section -->
                <div class="content" id="profile" data-sidebar-target="content" >

                 <%= render "update_profiles"  %>
                 <% if flash[:notice] %>
                    <div class="mt-4 alert alert-success">
                      <%= flash[:notice] %>
                    </div>
                  <% end %>

                </div>

                <div class="content hidden" id="account" data-sidebar-target="content">
                  <!-- Account content -->

                  <%= render template: "accounts/show", locals: { user: @user } %>
                  <% if flash[:notice] %>
                    <div class="mt-4 alert alert-success">
                      <%= flash[:notice] %>
                    </div>
                  <% end %>

                </div>

                <!-- Password content -->
                <div class="content hidden" id="password" data-sidebar-target="content">

                  <%= render template: "passwords/show", locals: { user: @user } %>
                  <% if flash[:notice] %>
                    <div class="mt-4 alert alert-success">
                      <%= flash[:notice] %>
                    </div>
                  <% end %>

                </div>

                <div class="content hidden" id="plan-billing" data-sidebar-target="content">
                  <!-- Plan & Billing content -->

                  <%= render template: "payments_sidebar/index", locals: { payments: @payments } %>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
