<div  data-controller="stripe-elements"
      class="flex flex-col items-center border-b bg-white py-4 sm:flex-row sm:px-10 lg:px-20 xl:px-32">
  <a href="#" class="text-2xl font-bold text-gray-800"><%= @property.name %></a>

</div>
<!-- Reservation Summary -->
<div class="grid sm:px-10 lg:grid-cols-2 lg:px-20 xl:px-32">
  <div class="px-4 pt-8">
    <p class="text-xl font-medium">Your Reservation</p>
    <div class="mt-8 space-y-3 rounded-lg border bg-white px-2 py-4 sm:px-6">

        <dl class= "space-y-10">
          <div class="flex items-center justify-between">
            <dt class="text-sm">Check-in</dt>
            <dd class="text-sm font-medium text-gray-900"><%= @checkin_date %> </span> </dd>
          </div>
          <div class="flex items-center justify-between">
            <dt class="text-sm">Checkout</dt>
            <dd class="text-sm font-medium text-gray-900"><%= @checkout_date  %> </dd>
          </div>
          <div class="flex items-center justify-between">
            <dt class="text-sm"><%= @property.price %> x <%= @differenceInDays %> </dt>
            <dd class="text-sm font-medium text-gray-900">€<%= @subtotal %></span> </dd>
          </div>
          <div class="flex items-center justify-between">
            <dt class="text-sm">Cleaning fee</dt>
            <dd class="text -sm font-medium text-gray-900">€<%= @cleaning_fee %></dd>
          </div>
          <div class="flex items-center justify-between">
            <dt class="text-sm">Service fee</dt>
            <dd class="text-sm font-medium text-gray-900">€<%= number_to_currency(@service_fee, precision: 2) %></dd>
          </div>
          <div class="flex items-center justify-between border-t border-gray-200 pt-2">
            <dt class="text-base font-medium">Total</dt>
            <dd class="text-base font -medium text-gray-900">€<%= @total %></dd>
          </div>
        </dl>
    </div>

  </div>
  <div class="mt-8 mb-10 px-4 pt-8 lg:mt-0">
    <p class="mb-4 text-xl font-medium">Payment Details</p>
      <p class="mb-4 mt-8 text-gray-400">Complete your reservation by providing your payment details</p>
    <div >
        <!--Card details -->
      <%=
          stripe_elements_tag(
            submit_path: reservation_payments_path(
              property_id: @property.id,
              user_id: current_user.id,
              checkin_date: @checkin_date,
              checkout_date: @checkout_date,
              subtotal: @subtotal,
              cleaning_fee: @cleaning_fee,
              service_fee: @service_fee,
              total: @total
            )
          )
      %>
      <!-- Total -->
      <div class="mt-6 flex items-center justify-between">
        <p class="text-sm font-medium text-gray-900">Total</p>
        <p class="text-2xl font-semibold text-gray-900">€<%= @total %></p>
      </div>
    </div>
  </div>
</div>
