<div class="flex flex-col items-center border-b bg-white py-4 sm:flex-row sm:px-10 lg:px-20 xl:px-32">
  <a href="#" class="text-2xl font-bold text-gray-800"><%= @property.name %></a>

</div>
<!-- Reservation Summary -->
<div class="grid sm:px-10 lg:grid-cols-2 lg:px-20 xl:px-32">
  <div class="px-4 pt-8">
    <p class="text-xl font-medium">Your Reservation</p>
    <%# <p class="text-gray-400">Check your items. And select a suitable shipping method.</p> %>
    <div class="mt-8 space-y-3 rounded-lg border bg-white px-2 py-4 sm:px-6">

        <dl class= "space-y-10">
          <div class="flex items-center justify-between">
            <dt class="text-sm">Check-in</dt>
            <dd class="text-sm font-medium text-gray-900"><%= @checkin_date %> </span> </dd>
          </div>
          <div class="flex items-center justify-between">
            <dt class="text-sm">Checkout</dt>
            <dd class="text-sm font-medium text-gray-900"><%= @checkout_date  %> </dd>
          </div>
          <div class="flex items-center justify-between">
            <dt class="text-sm"><%= @property.price %> x <%= @differenceInDays %> </dt>
            <dd class="text-sm font-medium text-gray-900">€<%= @subtotal %></span> </dd>
          </div>
          <div class="flex items-center justify-between">
            <dt class="text-sm">Cleaning fee</dt>
            <dd class="text -sm font-medium text-gray-900">€<%= @cleaning_fee %></dd>
          </div>
          <div class="flex items-center justify-between">
            <dt class="text-sm">Service fee</dt>
            <dd class="text-sm font-medium text-gray-900">€<%= @service_fee %> </dd>
          </div>
          <div class="flex items-center justify-between border-t border-gray-200 pt-2">
            <dt class="text-base font-medium">Total</dt>
            <dd class="text-base font -medium text-gray-900">€<%= @total %></dd>
          </div>
        </dl>
    </div>

  </div>
  <div class="mt-10 bg-gray-50 px-4 pt-8 lg:mt-0">
    <p class="text-xl font-medium">Payment Details</p>
    <p class="text-gray-400">Complete your reservation by providing your payment details</p>
    <div >
      <label for="email_confirm" class="mt-4 mb-2 block text-sm font-medium">Email</label>
      <div class="relative">
        <input type="text" id="email_confirm" name="email_confirm" class="w-full rounded-md border border-gray-200 px-4 py-3 pl-11 text-sm shadow-sm outline-none focus:z-10 focus:border-blue-500 focus:ring-blue-500" placeholder="your.email@gmail.com"/>
      </div>

        <!--Card details -->

      <%= stripe_elements_tag submit_path: "property_path(@property)" %>

      <label for="billing-address" class="mt-4 mb-2 block text-sm font-medium">Billing Address</label>
      <div class="flex flex-col sm:flex-row">
        <div class="relative flex-shrink-0 sm:w-7/12">
          <input type="text" id="billing-address" name="billing-address" class="w-full rounded-md border border-gray-200 px-4 py-3 pl-11 text-sm shadow-sm outline-none focus:z-10 focus:border-blue-500 focus:ring-blue-500" placeholder="Street Address" />
          <div class="pointer-events-none absolute inset-y-0 left-0 inline-flex items-center px-3">
          </div>
        </div>
        <select type="text" name="billing-state" id="billing-state"  class="w-full rounded-md border border-gray-200 px-4 py-3 text-sm shadow-sm outline-none focus:z-10 focus:border-blue-500 focus:ring-blue-500">
          <option value="Germany">Germany</option>
          <option value="France">France</option>
          <option value="Italy">Italy</option>
          <option value="Spain">Spain</option>

        </select>
        <input type="text" id="billing-zip" name="billing-zip" class="flex-shrink-0 rounded-md border border-gray-200 px-4 py-3 text-sm shadow-sm outline-none sm:w-1/6 focus:z-10 focus:border-blue-500 focus:ring-blue-500" placeholder="ZIP" />
      </div>

      <!-- Total -->
      <div class="mt-6 flex items-center justify-between">
        <p class="text-sm font-medium text-gray-900">Total</p>
        <p class="text-2xl font-semibold text-gray-900">€<%= @total %></p>
      </div>
    </div>
    <button class="mt-4 mb-8 w-full rounded-md bg-gray-900 px-6 py-3 font-medium text-white">Place Order</button>
  </div>
</div>
