<!DOCTYPE html>
<html>
  <head>
    <title>House&Party - Airbnb</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%# <link rel="stylesheet" href="/assets/tailwind.css" as="style"> %>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.x.x/dist/tailwind.min.css" rel="stylesheet" as="style">
    <script defer src="https://unpkg.com/alpinejs@3.12.1/dist/cdn.min.js"></script>
    <%# <%= javascript_include_tag 'controllers/dropdown.js' %>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
    <%= favicon_link_tag asset_path("airbnb-favicon.png") %>

  </head>

  <body>
    <%= render "layouts/header" %>
    <%= yield %>

  </body>
</html>
